<p>
    <a href="{% url 'budowlanka_project:index' %}">Strona główna</a> ---
    <a href="{% url 'budowlanka_project:blog' %}">Aktualności</a> ---
    <a href="{% url 'budowlanka_project:appointment' %}">Umów wizytę</a> ---
    <a href="{% url 'budowlanka_project:message' %}">Wiadomości</a> ---
    <a href="{% url 'budowlanka_project:contact' %}">Kontakt</a> ---
    {% if user.is_authenticated %}
        Witaj, {{ user.username }}.
        <hr />
        <form action="{% url 'accounts:logout' %}" method='post'>
            {% csrf_token %}
            <button name="submit">Wyloguj się</button>
        </form>
    {% else %}
        <a href="{% url 'accounts:register' %}">Zarejestruj się</a> ---
        <a href="{% url 'accounts:login' %}">Zaloguj się</a>
    {% endif %}
</p>

{% block content %}{% endblock content %}