{% extends 'mainapp/base.html' %}

{% block content %}
    
    <h1>Aktualności</h1>
        {% for entry in page_obj %}
                <article class="">
                    <a href="/blog/{{ entry.id }}"><h3>{{ entry.title }}</h3></a>
                    <p>{{ entry.content|linebreaks }}</p>
                    <p>Dodano: {{ entry.date }}</p>
                </article>
        {% empty %}
            Nic tu jeszcze nie ma    
        {% endfor %}
    
    {% if page_obj.has_other_pages %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; pierwsza</a>
                    <a href="?page={{ page_obj.previous_page_number }}">poprzednia</a>
                {% endif %}

                <span class="current">
                    Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">następna</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">ostatnia &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
    
{% endblock content %}