{% extends 'mainapp/base.html' %}

{% block content %}
    
    <h1>{{ entry.title }}</h1>
    <p>{{ entry.content|linebreaks }}</p>
    <p>Dodano: {{ entry.date }}</p>
    <form action="{% url 'mainapp:detail' entry.id %}" method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button name="submit">Dodaj</button>
    </form>
    
    <ul>
        {% for comment in comments %}
            <li>
                <p>{{ comment.author }}</p>
                <p>{{ comment.content }}</p>
                <p>{{ comment.date }}</p>
            </li>
        {% empty %}
            Brak komentarzy, napisz pierwszy!
        {% endfor %}
    </ul>

{% endblock content %}