{% extends 'mainapp/base.html' %}

{% block content %}
    <article>
    <h1>{{ entry.title }}</h1>
    <p>{{ entry.content|linebreaks }}</p>
    <p>Dodano: {{ entry.date }}</p>
    </article>
    <h2>Komentarze</h2>
    <form action="{% url 'mainapp:detail' entry.id %}" method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button name="submit" class="btn btn-primary">Dodaj</button><br><br>
    </form>
        {% for comment in comments %}
            <article>
                <h5>{{ comment.author }}</h5>
                <p>{{ comment.content }}</p>
                <p style="font-size: small; text-align:right;">{{ comment.date }}</p>
            </article>
        {% empty %}
            Brak komentarzy, napisz pierwszy!
        {% endfor %}

{% endblock content %}