{% extends 'mainapp/base.html' %}

{% block content %}
<div class="col-xxl-4 order-xxl-last col-md-12 order-md-first" style="padding: 5px;">
        {% if messages %}
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBb2UF9YukDAeKX_UrmlnmGp9D5iiZVu9w&callback=console.debug&libraries=maps,marker&v=beta">
    </script>
    <gmp-map center="54.110198974609375,22.935564041137695" zoom="14" map-id="DEMO_MAP_ID">
      <gmp-advanced-marker position="54.110198974609375,22.935564041137695" title="My location"></gmp-advanced-marker>
    </gmp-map>
</div>
<div class="col-xxl-8 order-xxl-first col-md-12 order-md-last">
    <article>
        <h1>Jasion Dachy</h1>
        <p>
            Od 10 lat na rynku<br>
            Wykonaliśmy około 315 prac<br>
        </p>
        <h4>Współpracujemy z firmami takimi jak:</h4>
        <p>
            -Blachy pruszyński,<br>
            -Creaton,<br>
            -oraz przede wszystkim z Polskim Stowarzyszeniem Dekarzy w Białymstoku<br>
        </p>
            <h4>Nasza oferta:</h4>
        <p>
            -przede wszystkim dekarstwem oraz blacharstwem,<br>
            -usługi ciesielskie,<br>
            -wszelkie prace murarskie (np. stan surowy, elewacje)<br>
            -usługi transportowe<br><br>
            Wykorzystujemy najwyższej jakości materiały zapewniane przez pobliskie firmy. Ogromną uwagę przykładamy do obróbek dostarczonych nam materiałów.
        </p>
    </article>
</div>
{% endblock content %}
