<!-- message_pdf_template.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message PDF</title>
</head>
<body>
    <h1>Messages</h1>
    <table>
        <thead>
            <tr>
                <th>Author</th>
                <th>Content</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for message in data %}
                <tr>
                    <td>{{ message.author }}</td>
                    <td>{{ message.content }}</td>
                    <td>{{ message.date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
